<div class="mb-3 d-flex align-items-center justify-content-center">
  <a href="/publicar" class="btn btn-outline-primary">Criar uma nova publicação</a>
</div>
<div class="container">
  {{#each posts}}
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <a href="/{{nome}}">{{nome}}</a>
        <form action="/post/{{id}}/likes" method="post">
          <button type="submit" class="btn btn-outlline-danger">
            <i class="fa fa-heart"></i> {{post_likes}}
          </button>
        </form>
      </div>
      <div class="card-body">
        <div class="card-title">
          <h6><a href="/post/{{id}}">{{titulo}}</a></h6>
        </div>
        <blockquote class="blockquote mb-0">
          <footer class="blockquote-footer">
            <small class="text-muted">Postado em {{createdAt}}</small>
          </footer>
        </blockquote>
      </div>
    </div>
  {{/each}}
</div>