{{#each row}}
  <div class="p-3 mb-3">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <a href="/{{nome}}">{{nome}}</a>
        <form action="/post/{{id}}/likes" method="post">
          <button type="submit" class="btn btn-outlline-danger">
            <i class="fa fa-heart"></i> {{post_likes}}
          </button>
        </form>
      </div>
      <div class="card-body">
        <div class="card-title">
          <h5>
            {{titulo}}
          </h5>
        </div>
        <div class="card-text">
          {{{conteudo}}}
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <span>
            <i class="fa fa-calendar"></i> {{createdAt}}
          </span>
          {{!-- <span>
            <i class="fa fa-comment"></i> {{comentarios.length}}
          </span> --}}
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <span>
          <i>Comentário</i>
        </span>
      </div>
      <div class="card-body">
        <form action="/post/{{id}}/comentario" method="post">
          <div class="mb-2">
            <textarea class="form-control" name="conteudo" rows="3" placeholder="Escreva um comentário..."></textarea>
          </div>
          <div class="mb-2">
            <button type="submit" class="btn btn-success"><i>Comentar</i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
{{/each}}
{{#each comentario}}
  <div class="p-3">
    <div class="card">
      <div class="card-header">
        <a href="/{{nome}}">{{nome}}</a>
      </div>
      <div class="card-body">
        {{{conteudo}}}
        <blockquote class="blockquote mb-0">
          <footer class="blockquote-footer">
            <small class="text-muted">
              {{createdAt}}
            </small>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
{{/each}}